
@import url("https://fonts.googleapis.com/css?family=Paytone+One");

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/avenir.woff2) format('woff2');
}