
input {
  display: block;
  border: none;
  margin: 1em auto;
  width: 280px;
  height: 46px;
  border-radius: 100px;
  background-color: $color-white;
  font-family: 'Paytone One', Arial, sans-serif;
  font-size: 13px;
  line-height: 3.38;
  padding: 0 2em;
  letter-spacing: 0.2px;
  max-width: 100%;
  color: $color-black;

  @media (min-width: 760px) {
    height: 56px;
  }

  &:focus {
    background-color: #efefef;
    outline: none;
  }
}

.button {
  display: block;
  font-family: 'Paytone One', Arial, sans-serif;
  font-size: 13px;
  line-height: 44px;
  letter-spacing: 0.2px;
  text-align: center;
  color: $color-white;
  width: 162px;
  height: 46px;
  border-radius: 100px;
  background-color: $color-black;
  border: none;
  margin: 2em auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 200ms ease-out;

  @media (min-width: 760px) {
    height: 56px;
    line-height: 54px;
  }

  &:hover {
    color: $color-primary-light;
  }

  &.big {
    width: 260px;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $color-gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $color-gray;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $color-gray;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $color-gray;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    $color-gray;
}