

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary-light url('../../assets/images/full-circle.svg') center center no-repeat;
  background-size: 110%;
  color: $color-white;
  padding: 40px 0;

  @media #{$desktop} {
    padding: 80px 0;
    background-size: auto;
  }
}