
.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  color: $color-primary-light;

  @media #{$desktop} {
    padding: 60px 0;
  }

  @media (min-width: 1100px) {
    background: $color-primary url('../../assets/images/half-circle.svg') left center no-repeat;
  }
}