

.split-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: $color-white;
  color: $color-black;
  padding: 0;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
  }

  hr {
    align-self: flex-start;
    width: 91%;
    height: 0;
    border: solid 2px $color-primary;
    margin: 0;
  }

  .split-content-container {
    margin: 2em 1em;
  }

  @media #{$desktop} {
    height: 470px;

    > div {
      flex-direction: row;
      height: 100%;
    }

    hr {
      height: 86%;
      width: 0;
     }

    .split-content-container {
      width: 50%;
    }
  }
}
